/* .Hero {
  background-color: rgba(135, 199, 222, 0.515);
  height: 676px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.hero__info {
  height: 316px;
  width: 447px;
  border: 1px solid red;
}
.hero__title {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
}
.hero__text {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597a5;
}
.hero__image {
  width: 800px;
  height: 676px;
  background-image: url('../images/bg-intro-desktop.svg');
  background-color: rgba(135, 212, 222, 0.268);
  background-repeat: no-repeat;
  background-size:  1233px;
} */

@media (max-width: 768px) {
  /* .Hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  } */
  .hero__info {
    width: 87.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .hero__title {
    font-family: "Public Sans", sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.71px;
    color: #2d314d;
    text-align: center;
  }
  .hero__text {
    font-family: "Public Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.23px;
    color: #9597a5;
    text-align: center;

  }
  .hero__image {
    position: relative;
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 280px;
  }
  .hero__image::before {
    content: "";
    position: absolute;
    background-image: url("../images/image-mockups.png");
    background-size: 86.93%;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}
