.inviteBtn{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  width: 163px;
  height: 44px;
  padding: 0;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  transition: all 0.2s ease-in-out;
  border-radius: 22px;
  cursor: pointer;
}
.inviteBtn:hover {
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  font-weight: normal;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}