.footer {
  background-color: #2d314d;
  display: flex;
  justify-content: space-between;
  padding-left: 11.6%;
  padding-right: 11.6%;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer__logo {
  margin-bottom: 55px;
}
.footer__nav {
  display: flex;
}
.footer__socials {
  margin-right: 131px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__icon {
  margin-right: 13.3px;
  width: 20px;
  height: 20px;
}
/* .footer__icon:last-child {
  margin-right: 0;
} */
.footer__icon:hover,
.footer__icon:focus {
  color: #30c88f;
}
.footer__nav-items {
  margin-right: 131px;
}
.footer__nav-items {
  display: flex;
  flex-direction: column;
}
.footer__nav-item {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #ffffff;
  margin-bottom: 8px;
}
.footer__nav-item:last-child {
  margin-bottom: 0;
}
.footer__nav-item:hover,
.footer__nav-item:focus {
  color: #30c88f;
  text-decoration: none;
}
.footer__copyright {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.234375px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 24px;
}
@media screen and (max-width: 1200px) {
  .footer__socials {
    margin-right: 90px;
  }
  .footer__icon {
    margin-right: 7px;
  }
}
@media screen and (max-width: 900px) {
  .footer__nav-items {
    margin-right: 70px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer__request {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 30px;
  }
  .footer__copyright {
    margin-left: 10px;
  }
}
@media screen and (max-width: 520px) {
  .footer__logo {
    width: 139px;
    height: 20px;
    margin-bottom: 32px;
    margin-left: 16px;
  }
  .footer__icons {
    margin-bottom: 32px;
  }
  .footer__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  .footer__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__nav-items {
    text-align: center;
  }
  .footer__nav-items {
    margin-right: 0;
    justify-content: flex-start;
  }
  .footer__socials {
    margin: 0;
  }
  .footer__request {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__icons {
    text-align: center;
  }
}
